<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Flight Information</title>
</head>
<h1>Flight Information</h1>
<body>
  <div id="column-center">
    <form action="/flights/ /destinations" method="POST" id="add-destination-form"></form>
  <h3>Airports</h3>
  <select name="airport" id="show-form">
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    <option value="SEA">SEA</option>
  </select>
  <label>Arrival Time:
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" class="btn btn-success" id="destination-btn" value="Add New Destination"> 
  
 <form id="new-form" action="/flights" method="POST">
    <h3 id="tickets-header">Tickets <i class="fas fa-ticket-alt"></i></h3>
    <table class="table" id="tickets-table">
      <thead>
          <th> Seat:
              <input name="seat" required pattern="[A-F][1-9]\d?">
          </th>

          <th>Price: </th>

          <th>Flight: </th>
      </thead>
      <% if (tickets.length) { %>
     <% tickets.forEach(function(ticket) { %>
          <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
          </tr>
      <% }) %>
        <% } else { %>
        <tr>
          <td><%= 'ticket is not found' %></td>
        </tr>
      <% } %>

  </table>

  </div>
  <a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-primary btn-lg btn-block" id="new-ticket-btn">Create a new ticket</a>

  <a href="/tickets" <%- title === 'All Tickets' ? 'class="active"' : '' %>>ALL TICKETS</a>
</body>
</html>